h1{
    color: brown;
}
body {
    background-color: rgb(227, 227, 227);
}
.matched-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.match {
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.singl-match {
    width: 400px;
    background-color: #F0F3E8;
    padding: 20px;
    padding-bottom: 10px;
    
}

.donor-patient {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.donor-title,
.patient-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;

}

.donor-title,
.patient-title {
    margin-bottom: 5px;
}

.info {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 5px 0;
    padding: 0;

}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 0;
}
.a-btn,
.d-btn{
    border: none;
    height: 30px;
    border-radius: 3px;
    background-color: #D8E6CB;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 200ms;


}

.a-btn:hover,
.d-btn:hover {
    cursor: pointer;
    background-color: #bce499;
    transition: all 200ms;
}
.spans {
    color: gray;
}
hr {
    margin: 0;
    margin-bottom: 10px;
}

table, th, td{
    border: 2px solid black;
   padding: 5px;

}
th{
    font-size: 30px;
    font-weight: 700;
    font-family: Arial;
   color: #004d00;
}

td{
    font-size: 20px;
    color: crimson;
    font-weight: 400;
    font-family: Georgia;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: burlywood;

}