body{
      background-image: url("image/World-Organ-Donation-Day-Blog-.webp");
}
/*
.text-box{

    columns: rgb(58, 35, 35);
    position: absolute;
    top: 60%;

    text-align: center;
}

.text-box h1{
    color: rgb(0, 0, 0);
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
} */
