header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

/* image{
  margin: left;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.pages {
  position: inherit;
  font-size: 1.1em;
  color: #490b0b;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.home{
  position: inherit;
  font-size: 1.1em;
  color: rgb(58, 9, 9);
  text-decoration: none;
  font-weight: 500;
  margin-left: 700px;
}

.dR{
  position: inherit;
  font-size: 1.1em;
  color: rgb(44, 5, 5);
  text-decoration: none;
  font-weight: 500;
  margin-left: 800px;
}

.hospital{
  position: inherit;
  font-size: 1.1em;
  color: rgb(59, 6, 6);
  text-decoration: none;
  font-weight: 500;
  margin-left: 1000px;
}

.admin{
  position: inherit;
  font-size: 1.1em;
  color: rgb(66, 6, 6);
  text-decoration: none;
  font-weight: 500;
  margin-left: 1100px;
 text-decoration: solid;
}

.OD{
  font-size: 2em;
  color: #460909;
  user-select: none;
}

.logo{
width: 6%;
}

.part{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url("images/image.jpg"); */
  background-size: cover;
  background-position: center;
}

.pages a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform.5 ;
} 

.pages a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
} 

/* .pages{
  background-color: rgb(0, 0, 8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
  }
  
  li{
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    color: red;
  }
  .image{
    width: 400px;
  height: 200px;
  image-orientation: inherit;
  object-fit: cover;
  border: 1px solid black;

  }
  .h1{
    color: rgb(0, 0, 0);
  }

  *{
    margin: 0px;
    padding: 0px;
  }
  .container{
    background-color:rgba(0,100,0,0.3);
    padding:  4px 10px 10px 25px;
    display: inline-block;
    margin: 120px 100px 50px 400px;
    width: 270px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
  
  }
  /* .container input{
    padding: 10px;
    width: 50%;
    border: 1px solid red;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
  } */
/* .age{
    padding: 10px;
    width: 50%;
    border: 1px solid red;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
    width: 80%;
} */

/* h1{
  font-size: 50px;
} */ 


.adminForm{
  color: rgb(8, 8, 8);
}

.add{
  background-color: #9daebe;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  margin: 0;
}